pipeline/pl_sales_multiple_activity_if_fail.json
{
	"name": "pl_sales_multiple_activity_if_fail",
	"properties": {
		"activities": [
			{
				"name": "pl_metadata_sales",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_metadata_sales",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "If Condition_sales",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "pl_metadata_sales",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('pl_metadata_sales').outputand activity('pl_metadata_sales').output.pipelineReturnValue",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Fail1",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "pipeline is not executed",
								"errorCode": "10001"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_sales_adls_multiple",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_sqlserver_df_practice",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "sourcefiles_raw_load"
		},
		"annotations": [],
		"lastPublishTime": "2026-07-08T17:58:50Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}